<div class="card" style="width: 18rem;">
    <img src={{p.picture}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{p.title}}</h5>
      <p class="card-text">Price : {{p.price}}</p>
      <p class="card-text">Quantity : {{p.quantity}}</p>
      <p class="card-text">Like : {{p.like}}</p>
     <!-- <button (click)="BuyProduct(p.id)" [disabled]="p.quantity == 0">Buy</button>
     <button (click)="LikeProduct(p.id)">Like</button>
      <button [routerLink]="['/product/',p.id,p.title]">Details</button>
    -->
    <button [routerLink]="['/updateProduct/',p.id]">Update</button>
     <button (click)="Delete(p.id)">Delete</button>
   

    </div>
  </div>
